.navbar {
  background-color: #1e94d2;
  padding: 20px 0 10px;
}

.navbar-toggle { color: #fff; }

.navbar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 220px;
  margin: 0;
  z-index: 999;
  padding: 0;

  background-color: #3a3633;
  list-style: none;
}

.navbar-usuario {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #525151;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.navbar-menuitem { padding: 15px; }

.navbar-menuitem a {
  color: #c0bbb7;
  text-decoration: none;
}

.navbar-menuitem a:hover { color: #fff; }
