<nav class="navbar">
  <div class="container">

    <div class="p-col">
      <div class="p-col-12">
        <a href="javascript:;" class="navbar-toggle"
          (click)="exibindoMenu = !exibindoMenu">
          <i class="pi pi-bars"></i>
        </a>
      </div>
    </div>

  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">Usuário</li>
    <li class="navbar-menuitem">
      <a href="">Lançamento</a>
    </li>
    <li class="navbar-menuitem">
      <a href="">Pessoas</a>
    </li>
    <li class="navbar-menuitem">
      <a href="">Logout</a>
    </li>
  </ul>

</nav>

