<div class="container">

  <div class="p-grid">

    <div class="p-col-12">
      <h1>Pessoas</h1>
    </div>

    <div class="p-col-12 p-fluid">
      <label for="txtNome">Nome</label>
      <input type="text" id="txtNome" pInputText>
    </div>

    <div class="p-col-12">
      <button type="submit" pButton label="Pesquisar"></button>
    </div>

  </div> <!-- p-grid -->

  <p></p>

  <div class="p-grid">
    <div class="p-grid-12">
      <p-table [value]="pessoas" [paginator]="true" [rows]="2"
        [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.cidade }}</td>
            <td>{{ pessoa.estado }}</td>
            <td>
              {{ pessoa.status === true ? 'Ativo' : 'Inativo' }}
            </td>
            <td class="col-acoes">
              <a pButton icon="pi pi-pencil" pTooltip="Editar"
                tooltipPosition="top"></a>
              <button pButton icon="pi pi-trash" pTooltip="Deletar"
                tooltipPosition="top" ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div> <!-- p-grid-12 -->
  </div> <!-- p-grid -->

</div> <!-- container -->
