<div class="container">

  <div class="p-grid">

    <div class="p-col-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="p-col-12 p-fluid">
      <label for="txtDescricao">Descrição</label>
      <input type="text" id="txtDescricao" pInputText>
    </div>

    <div class="p-col-12">
      <label class="block" for="txtDe">Vencimento</label>
      <input class="date" type="text" id="txtDe" pInputText>

      <label for="txtAte" class="margin-label">Até</label>
      <input class="date" type="text" id="txtAte" pInputText>
    </div>

    <div class="p-col-12">
      <button type="submit" pButton label="Pesquisar"></button>
    </div>

  </div> <!-- p-grid -->

  <p></p>

  <div class="p-grid">
    <div class="p-grid-12">
      <p-table [value]="lancamentos" [paginator]="true" [rows]="4"
        [responsive]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th class="col-data-header">Vencimento</th>
            <th class="col-data-header">Pagamento</th>
            <th class="col-valor-header">Valor</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>{{ lancamento.pessoa }}</td>
            <td>{{ lancamento.descricao }}</td>
            <td class="col-data-content">
              {{ lancamento.dataVencimento | date:'dd/MM/y' }}
            </td>
            <td class="col-data-content">
              {{ lancamento.dataPagamento | date:'dd/MM/y' }}
            </td>
            <td class="col-valor-content">
              <span [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">
                {{ lancamento.valor | currency:'BRL':'symbol':'1.2-2' }}
              </span>
            </td>
            <td class="col-acoes">
              <a pButton icon="pi pi-pencil" pTooltip="Editar"
                tooltipPosition="top"></a>
              <button pButton icon="pi pi-trash" pTooltip="Deletar"
                tooltipPosition="top" ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div> <!-- p-grid-12 -->
  </div> <!-- p-grid -->

</div> <!-- container -->
