<div class="container">
  <form action="">
    <div class="p-grid">

      <div class="p-col-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="p-col-12 p-sm-6 p-md-3 p-fluid">
        <label for="txtVencimento">Vencimento</label>
        <p-calendar id="txtVencimento" dateFormat="dd/mm/yy"
          [showIcon]="true"></p-calendar>
      </div>

      <div class="p-col-12 p-sm-6 p-md-3 p-fluid">
        <label for="txtRecebimento">Recebimento</label>
        <p-calendar id="txtRecebimento" dateFormat="dd/mm/yy"
        [showIcon]="true"></p-calendar>
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label for="txtDescricao">Descrição</label>
        <input id="txtDescricao" pInputText type="text">
      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label for="txtValor">Valor</label>
        <input id="txtValor" pInputText type="text" placeholder="0,00">
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label for="txtCategoria">Categoria</label>
        <input id="txtCategoria" pInputText type="text">
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label for="txtPessoa">Pessoa</label>
        <input id="txtPessoa" pInputText type="text">
      </div>

      <div class="p-col-12 p-fluid">
        <label for="txtObservacao">Observação</label>
        <textarea id="txtObservacao" pInputTextarea rows="3"></textarea>
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" class="p-button-info" label="Novo"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
