/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404c51;
}

a { color: #337ab7; text-decoration: none; }

a:hover, a:focus { text-decoration: underline; }

label { font-weight: bold; }

.margin-label { margin: 0 .5em; }

.block { display: block; }

.date { width: 100px; }

.container {
  width: 80%;
  margin: 0 auto;
}

.col-valor-header { width: 120px; }

.col-valor { text-align: right !important; }

.col-data-header { width: 120px; }

.col-data { text-align: center !important; }

.col-acoes-header { width: 150px; }

.col-acoes {
  width: 115px;
  text-align: center !important;
}

.col-acoes .p-button { margin: 1px; }

.p-button { margin-right: .25em }
